@charset "utf-8";
/* CSS Document */

aside, article, section, header, footer, nav, html, body, p, h1, h2, h3, div {
	  margin: 0;
	  padding: 0;
}

a, a:hover, a:visited, a:active {
	color:inherit;
	text-decoration:none;
} 

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight:400;
	font-size: 3em;	
}

h1.name {
  position:relative;
  top: -219px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:400; 
  color:#fff;
  text-shadow:
    -1px 1px 2px #000, 
     1px 1px 2px #000; 
  text-align:left;
  font-size:6em;
  z-index:3;
}

#ribbonh1 {
	display:block;
	position:relative;
	height:116px;
    background-image: url("../images/afff3d54.png");
    background-repeat:repeat;	
}

#ribbonh2 {
	display:block;
	position:relative;
	height: 63px;
	margin-top: 40px;
	background-image: url("../images/afff3d54.png");
    background-repeat:repeat;	
}

h2 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 2.5em;
}

h2.tagline {
  position:relative;
  top: -180px; 
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-weight:400; 
  color:#fff;
  text-shadow:
    -1px 1px 1px #000, 
     1px 1px 1px #000; 
  text-align:left;
  font-size:3em;
  z-index:3;
}

#threeline {
	display:none;
}

h2.lineone{
  display:none;
}

h2.linetwo {
  display:none;
}

h2.linethree {
  display:none;
}

p {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.67em;
	padding:15px;
}

#wrapper { 
  background: url("../images/bigcityscape40.png") no-repeat center center fixed; 
  width:100%;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')"; */
  z-index:-1; 
}

/*container for the logo/navigation area at the top of the page FOR POSITIONING IMGANGLE */
header {
  position:relative;
  width:100%;
  height:auto;
  top:0;
  margin-top:0px;
  padding-top:0px;
}

/*sub-container, keeping logo/nav area to certain percentage of page width */
#headercontent {
  width:80%;
  max-width:1400px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}

div.nav-container {
   position:relative;
  text-align:center;
  z-index:3;
}

/* cssmenu styling
adapted from http://cssmenumaker.com/menu/jquery-soft-menu stylesheet */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow:
    -1px 1px 1px #333, 
     1px 1px 1px #333; 
  font-size: 20px;
}

#cssmenu > ul > li {
  float: none;
  display:inline-block;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 21px 15px 21px 15px; 
  font-size: 1em;
  text-decoration: none;
  color: #e4e8df;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #afff3d;
  text-shadow:none;
}
#cssmenu.align-right > ul > li:after {
  right: auto;
  left: -1px;
}
#cssmenu.align-right > ul > li:before {
  right: auto;
  left: 0px;
}
#cssmenu > ul > li:last-child:after,
#cssmenu > ul > li:last-child:before {
  display: none;
} 
#cssmenu.small-screen {
  width: 100%;
  color: #e4e8df;
  background-color: #bababa;
  font-size:1em;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
  color: #e4e8df;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid #e4e8df;
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
  color: #e4e8df;
}
#cssmenu.small-screen > ul > li:hover > a, 
#cssmenu.small-screen > ul > li.active > a {
  color: #e4e8df;
  background-color:#afff3d;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px 19px 25px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: #e4e8df;
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #e4e8df;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 20px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #e4e8df;
  border-bottom: 2px solid #e4e8df;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #e4e8df;
  border-bottom: 2px solid #e4e8df;
  color: #e4e8df;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 30px;
  display: block;
  width: 18px;
  height: 2px;
  background: #e4e8df;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #e4e8df;
}

.main {
	position:relative;
	max-width: 1400px;
	width:80%;
	background-image: url("../images/d6ff96e5.png");
	background-repeat:repeat; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
	margin-top:-90px;
	margin-right:auto;
	margin-left:auto;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	overflow:hidden;
	z-index:3; 
}

.imgleft {
	float: left;
  	margin-right: 2em;
	margin-bottom:1em;
}

.imgangle {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
	z-index:5;
	position:absolute;
	left:65%;
	top:100px;
}

/* on page w/2 content areas, larger content area is here */
article.withaside {
	position:relative;
	float:left;
	margin-bottom:20px;
	padding:5% 2%;
	width:58%;
	height:100%;
	z-index:4; 
}

/* on page w/2 content areas, smaller content area is here */
aside {
	position:relative;
	float:right;
	clear:none;
	width:33%;
	border-left: 5px solid rgba(186,186,186,0.8); 
	padding-right:2%;
	height:100%;
	z-index:4; 
}

#social  {
	text-align:center;
	color: #afff3d;
	 text-shadow:
    -1px 1px 2px #393b38, 
     1px 1px 2px #393b38; 
	padding-top:91px;
}

#social a:link, #social a:visited , #social a:hover {
	color: #afff3d;
}

form {
	margin-left:1.5em;
}

label {
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

button, input, select, textarea {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.67em;
}

footer {
	clear:both;
	text-align:center;
	font-size:.8em;
	text-decoration: none;
	margin: 30px auto 0px;
	width:100%;
	padding:10px 0 10px 0;
}

footer p {
	padding:10px;
}

/*BEGIN RESPONSIVE STYLES */

/*DESKTOP - Use if needed
@media all and (min-width:1240px) {
	body {background-color:blue;}
} */


/*TABLET */
@media all and (min-width:815px) and (max-width:1239px) {
	
div.nav-container {
	float:none;
	width:100%;
	display:block;
	margin:0px auto;
	}
	
div.nav-container ul {
	text-align:center;
}

div.nav-container li{
	display:inline-block;
	float:none;
}

#cssmenu > ul > li > a {
	padding-top:20px;
}

#ribbonh1{
  height:85px;
}

#ribbonh2 {
	height: 145px;
}

h1.name {
  position:relative;
  top: -275px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:400; 
  color:#fff;
  text-shadow:
    -1px 1px 2px #000, 
     1px 1px 2px #000; 
  text-align:left;
  font-size:4.5em;
  z-index:3;
}

h2.tagline {
	display:none;
}

#threeline {
	display:block;
	position:relative;
	top:-230px;
}

h2.lineone{
  display:block;
  position:relative;
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-weight:400; 
  color:#fff;
  text-shadow:
    -1px 1px 1px #000, 
     1px 1px 1px #000; 
  text-align:left;
  font-size:2.5em;
  margin-bottom:-5px;
  z-index:3;
}

h2.linetwo {
  display:block;
  position:relative;
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-weight:400; 
  color:#fff;
  text-shadow:
    -1px 1px 1px #000, 
     1px 1px 1px #000; 
  text-align:left;
  font-size:2.5em;
  margin-bottom:-5px;
  padding-left: 2.5em;
  z-index:3;
}

h2.linethree {
  display:block;
  position:relative;
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-weight:400; 
  color:#fff;
  text-shadow:
    -1px 1px 1px #000, 
     1px 1px 1px #000; 
  text-align:left;
  font-size:2.5em;
  padding-left: 5em;
  z-index:3;
}

.imgangle {
	top: 80px;
}

.main {
	width:90%;
	margin-top:-165px;
}

}

/*PHABLET */
@media all and (min-width:650px) and (max-width:814px) {
	
div.nav-container {
	float:none;
	width:100%;
	display:block;
	margin:0px auto;
	}
	
div.nav-container ul {
	text-align:center;
}

div.nav-container li{
	display:inline-block;
	float:none;
}

#cssmenu > ul > li > a {
	padding-top:20px;
}

#ribbonh1{
  height:85px;
}

#ribbonh2 {
	height: 63px;
}

#headercontent {
  width:100%;
  left:0;
  right:0;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}

h1.name {
  position:relative;
  top: -193px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:400; 
  color:#fff;
  text-shadow:
    -1px 1px 2px #000, 
     1px 1px 2px #000; 
  text-align:center;
   font-size:4.5em;
  z-index:3;
}

h2.tagline {
	position:relative;
	margin-top:35px;
	display:block;
	font-size:2.5em;
	text-align:center;
}

#threeline {
	display:none;
}

h2.lineone{
  display:none;
}

h2.linetwo {
  display:none;
}

h2.linethree {
  display:none;
}

.imgangle {
	display:none;
}

.main {
	width:90%;
	margin-top:-100px;
}

#social  {
	padding-top:50px;
}

}

/*PHONE */
@media screen and (max-width: 649px) {
	
#wrapper { 
  background: none; 
  width:100%;
  height:100%;
  min-height: 0;
  /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')(enabled=false);
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')(enabled=false)"; */
  z-index:-1; 
}

#ribbonh1{
  height:50px;
}

#ribbonh2 {
	display:none;
}

h1.name {
  font-size:2em;
  position:relative;
  top: -45px; 
  text-align:center;
   z-index:5;	
}

h2.tagline {
  position:relative;
  top: -35px; 
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-weight:400; 
  color:#000;
  text-shadow:none;
  text-align:center;
  font-size:1.75em;
  z-index:3;
}

.main {
	width:95%;
	margin-top:-20px;
}

aside, article.withaside {
	float:left;
	width: 100%;
	background:#e4e8df;
	padding: 5% 2%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

div.nav-container {
	float:none; 
	width:100%;
	display:block; 
	margin:0px;
	padding:0px;
}

#cssmenu {
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: none;
  font-size: 16px;
}

#headercontent {
  width:100%;
 }

#threeline {
	display:none;
}

h2.lineone{
  display:none;
}

h2.linetwo {
  display:none;
}

h2.linethree {
  display:none;
}

.imgangle {
	display:none;
}

.imgleft {
	float: none;
	display:block;
  	margin: 1em auto 1em;
}

#social  {
	padding-top:10px;
}

p {
	font-size:.85em;
}

aside {
	clear:both;
	min-height:0px;
	border:none;
}

footer {
	font-size:1em;
}

}